/* * {
  font-family: "Poppins", sans-serif;
} */
/* Login */
.container-login,
.container-daftar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.left-section {
  width: 60%;
  /* padding: 40px; */
  text-align: center;
}
.left-section img {
  width: 100%;
  margin-bottom: 20px;
}
.left-section h2 {
  margin: 20px 0;
  font-weight: 700;
}
.left-section p {
  color: #777;
}
.right-section {
  padding: 40px;
  width: 40%;
  border-left: 1px solid #f0f0f0;
}
.right-section img {
  width: 20%;
}
.right-section h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}
.right-section .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818181;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  background: none;
}
.right-section .google-btn img {
  width: 20px;
  margin-right: 10px;
}
.right-section form {
  display: flex;
  flex-direction: column;
}

.right-section .login input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.right-section form input {
  padding: 10px;
  /* margin-top: px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.right-section form p {
  margin-top: 0;
}
.right-section form button {
  padding: 10px;
  background-color: #00880d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.right-section form button:disabled {
  background-color: #ccc;
}
.right-section h5 {
  text-align: center;
}
.right-section p {
  color: #777;
  font-size: 14px;
}
.right-section p a {
  color: #00880d;
  text-decoration: none;
}

.footer {
  background-color: #e2f4ff;
  margin-top: 10px;
  color: #1b5a7d;
  padding: 50px 0;
  font-weight: 500;
}
.footer .logo img {
  max-width: 150px;
}
.footer .subtext-text-desc {
  font-size: 0.9rem;
  line-height: 1.6;
}
.footer .subtext-menu {
  margin-bottom: 30px;
}
.footer .subtext-menu-subtitle {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #f6b943;
}
.footer .nav-link {
  color: #1b5a7d !important;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
  transition: color 0.3s;
}
.footer .nav-link:hover {
  color: #f6b943;
}
.footer .ic-wrap .nav-link {
  display: inline-block;
  margin-right: 15px;
}
.footer .ic-wrap .nav-link svg {
  fill: #1b5a7d;
  transition: fill 0.3s;
}
.footer .ic-wrap .nav-link:hover svg {
  fill: #f6b943;
}
.footer .content-bottom {
  border-top: 1px solid #4b6b82;
  padding-top: 20px;
  margin-top: 20px;
}
.footer .copyright {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .container {
    margin-top: 200px;
    margin-left: 20px;
    flex-direction: column;
    align-items: stretch;
  }
  .left-section,
  .right-section {
    /* margin: 10px; */
    width: 85%;
    border-left: none;
    border-top: 1px solid #f0f0f0;
  }
  .right-section {
    padding: 20px;
  }
}
