.table th {
  background-color: #e3f2fd;
}

.table tbody tr td:last-child {
  text-align: right;
}

.table .form-control {
  max-width: 60px;
  text-align: center;
}

.table .btn-outline-secondary {
  min-width: 30px;
}

.card {
  border: none;
}

.card-title {
  background-color: #e3f2fd;
  height: 50px;
}

.card-body {
  padding: 0 2px 2px 2px !important;
}
.card .card-body {
  background-color: #f8f9fa;
}

.card .btn-outline-success {
  border-color: #198754;
  color: #198754;
}

.card .btn-outline-success:hover {
  background-color: #198754;
  color: #fff;
}

.img-fluid {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.input-group button {
  align-items: center;
  color: black;
}

.footer {
  background-color: #e2f4ff;
  margin-top: 100px;
  color: #1b5a7d;
  padding: 50px 0;
  font-weight: 500;
}

.footer .logo img {
  max-width: 150px;
}

.footer .subtext-text-desc {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer .subtext-menu {
  margin-bottom: 30px;
}

.footer .subtext-menu-subtitle {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #f6b943;
}

.footer .nav-link {
  color: #1b5a7d !important;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
  transition: color 0.3s;
}

.footer .nav-link:hover {
  color: #f6b943;
}

.footer .ic-wrap .nav-link {
  display: inline-block;
  margin-right: 15px;
}

.footer .ic-wrap .nav-link svg {
  fill: #1b5a7d;
  transition: fill 0.3s;
}

.footer .ic-wrap .nav-link:hover svg {
  fill: #f6b943;
}

.footer .content-bottom {
  border-top: 1px solid #4b6b82;
  padding-top: 20px;
  margin-top: 20px;
}

.footer .copyright {
  font-size: 0.8rem;
}
