body {
  font-family: "Poppins", sans-serif !important;
}

h5 {
  font-weight: bold;
  color: green;
}

.form-check-label {
  margin-bottom: 10px;
  display: block;
}

.reset-link {
  display: block;
  margin-top: 20px;
  color: red;
  cursor: pointer;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 200px;
  height: 300px;
}

.card-img-top {
  max-height: 130px;
  margin-top: 10px;
  object-fit: contain;
}

.card-body {
  text-align: center;
}

.card-text a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.price {
  color: #333;
  font-size: 1.2em;
  margin-top: 10px;
}

.rating {
  color: gold;
  margin-top: 5px;
}

.form-check-input:checked ~ .form-check-label {
  font-weight: bold;
  color: green;
}
.out-of-stock {
  color: red;
  font-weight: bold;
}

.footer {
  background-color: #e2f4ff;
  margin-top: 100px;
  color: #1b5a7d;
  padding: 50px 0;
  font-weight: 500;
}
.footer .logo img {
  max-width: 150px;
}
.footer .subtext-text-desc {
  font-size: 0.9rem;
  line-height: 1.6;
}
.footer .subtext-menu {
  margin-bottom: 30px;
}
.footer .subtext-menu-subtitle {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #f6b943;
}
.footer .nav-link {
  color: #1b5a7d !important;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
  transition: color 0.3s;
}
.footer .nav-link:hover {
  color: #f6b943;
}
.footer .ic-wrap .nav-link {
  display: inline-block;
  margin-right: 15px;
}
.footer .ic-wrap .nav-link svg {
  fill: #1b5a7d;
  transition: fill 0.3s;
}
.footer .ic-wrap .nav-link:hover svg {
  fill: #f6b943;
}
.footer .content-bottom {
  border-top: 1px solid #4b6b82;
  padding-top: 20px;
  margin-top: 20px;
}
.footer .copyright {
  font-size: 0.8rem;
}

/* Styling untuk perangkat dengan lebar layar kurang dari 576px */
@media (max-width: 575.98px) {
  /* Atur lebar navbar menjadi 100% */
  .navbar {
    width: 100%;
  }

  /* Atur margin top pada footer menjadi lebih kecil */
  .footer {
    margin-top: 50px;
  }

  /* Atur margin bottom pada subtext-menu menjadi lebih kecil */
  .subtext-menu {
    margin-bottom: 20px;
  }

  /* Atur margin bottom pada subtext-menu-subtitle menjadi lebih kecil */
  .subtext-menu-subtitle {
    margin-bottom: 10px;
  }

  /* Atur margin bottom pada nav-link menjadi lebih kecil */
  .nav-link {
    margin-bottom: 3px;
  }
}

/* Styling untuk perangkat dengan lebar layar antara 576px dan 767.98px */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Atur lebar navbar menjadi 100% */
  .navbar {
    width: 100%;
  }

  /* Atur margin top pada footer menjadi lebih kecil */
  .footer {
    margin-top: 50px;
  }
}

/* Styling untuk perangkat dengan lebar layar antara 768px dan 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Tambahkan styling tambahan sesuai kebutuhan */
}

/* Styling untuk perangkat dengan lebar layar lebih dari 992px */
@media (min-width: 992px) {
  /* Tambahkan styling tambahan sesuai kebutuhan */
}
